.modal_overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background: #260e69;
  border: solid 1px white;
  padding: 10px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_close_button {
  color: white;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal_body {
  margin-top: 10px;
  overflow-y: auto; 
  flex-grow: 1; 
}


.modal_body::-webkit-scrollbar {
  width: 10px; 
}

.modal_body::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px; 
}

.modal_body::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 10px; 
  border: 2px solid #f1f1f1; 
}

.modal_body::-webkit-scrollbar-thumb:hover {
  background-color: #6c30cc; 
}
